.box {
  padding: 12px 8px;
  border: solid #474a4d 2px;
  border-radius: 4px;
  width: 260px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.li {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.btn {
  width: 66px;
  height: 65%;
  font-weight: 600;
  font-size: 16px;
  line-height: 0.6;
  letter-spacing: 0.05em;
  color: black;
  background-color: #e1e4e9;
  border: solid #474a4d 1px;
  border-radius: 3px;
  transition: background-color 0.8s;
}

.btn:hover {
  background-color: rgb(202, 200, 200);
}
